.DS_Store
tmp
dist
testoutput
node_modules
/docgen
/cmd/docgen/docgen
__pycache__/
*.py[cod]
*.egg-info/
python/docgen/_bin/docgen
python/docgen/_bin/docgen.exe
src/docgen/_bin/docgen
src/docgen/_bin/docgen.exe
testoutput/*.docx
.aider*
